{% extends "dashboard/main.html" %}
{% block title %} Github Analytics {% endblock %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block body %}
<div class="container details text-center">
  <img src="https://github.com/{{ user.username }}.png" class="profile-pic">
  <h2 class="username"> {{ user.username }} </h2>
</div>
<div class="container">
  <div class="accordion">
    {% for category, list in data.items %}
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#{{ category }}" aria-expanded="false" aria-controls="collapseOne">
            {{ category }} &nbsp;<span class="badge badge-danger"> {{ list|length }}</span>
          </button>
        </h2>
      </div>

      <div id="{{ category }}" class="collapse" aria-labelledby="headingOne" data-parent="#followerData">
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
              {% for githubUser in list %}
              <tr>
                <td>
                  <img src="https://github.com/{{ githubUser.username }}.png" class="anal-img">
                  <h4 class="anal-username"> {{ githubUser.username }} </h4>
                <td class="align-middle">
                  <a href="https://github.com/{{ githubUser.username }}" class="fa fa-2x fa-github"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
