{% extends "dashboard/main.html" %}
{% block title %} Github Analytics {% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'dashboard/css/landing.css' %}">
{% endblock %}

{% block body %}
  <div class="intro text-center">
    <div class="container intro-wrapper">
      <h1> Github Follower Tracker <i class="fa fa-user"></i> </h1>
      <h4> A simple Github Manager tool that find out users <br> who do not follow you back on Github.</h4>
      <img class="img img-responsive" src="{% static 'dashboard/analytics.svg' %}">
      <button class="btn btn-outline-light" href="#">
        <i class="fa fa-github"></i> &nbsp;
        Sign in
      </button>
    </div>
  </div>
  <div class="features text-center container">
    <h1 class="section-title">Features</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <i class="fa fa-4x fa-crosshairs"></i>
          <div class="card-body">
            <h5 class="card-title"><strong>Track Unfollowers</strong></h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <i class="fa fa-4x fa-line-chart"></i>
          <div class="card-body">
            <h5 class="card-title"><strong>Analytics</strong></h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <i class="fa fa-4x fa-money"></i>
          <div class="card-body">
            <h5 class="card-title"><strong>Free to use</strong></h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
