body {
  background-color: #F5F5F5;
}

.details {
  margin: 35px auto;
}

.profile-pic {
  width: 175px;
  margin: 15px auto;
}

.username {
  font-weight: bold;
  margin-top: 15px;
}

.card-header button {
  font-weight: bold;
  background: #F7F7F7;
}

.anal-img {
  width: 64px;
  height: 64px;
  margin-left: 40px;
  margin-right: 40px;
}

.anal-username {
  display: inline-block;
}

.fa-github {
  color: black;
}
.fa-github:hover {
  color: black;
  text-decoration: none;
}
